<app-card>
  <h2>Cadastrar Usuário</h2>
  <form id="form-user" [formGroup]="userForm">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Nome: </mat-label>
      <input matInput placeholder="Ex. Jhon" formControlName="name" />
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>CPF: </mat-label>
      <input matInput placeholder=""  formControlName="cpf" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Data de Nascimento: </mat-label>
      <input matInput [matDatepicker]="picker" formControlName="born_date" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker
        #picker
        startView="year"
        [startAt]="startDate"
      ></mat-datepicker>
    </mat-form-field>
  </form>
</app-card>

<ng-container *ngIf="!currentEditingUser">
  <button
    id="appButton"
    mat-raised-button
    color="primary"
    (click)="registerUser()"
  >
    Finalizar Cadastro
  </button>
</ng-container>

<ng-container *ngIf="currentEditingUser">
  <button
    id="appButton"
    mat-raised-button
    color="primary"
    (click)="editUser()"
  >
    Finalizar Edição
  </button>
</ng-container>